@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'mon';
	src: url('/public/fonts/Montserrat-Medium.ttf') format('ttf'),
		url('/public/fonts/Montserrat-Bold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
